.card {

    &.focus-summary {
        border-radius: 5px;
        margin-bottom: 24px;
    }

    a.card-header-title {
        align-items: flex-start;
        flex-direction: column;
    }

    a.read-more {
        font-weight: bolder;

        &:not(:hover) {
            color: inherit;
        }
    }
}

article.content {
    .highlight {
        border-radius: 5px;
    }

    h1:not(:first-child) {
        font-size: 1.5rem;
        margin-top: 5rem;
    }

    h2:not(:first-child) {
        font-size: 1.25rem;
        margin-top: 2.5rem;
    }

    h3:not(:first-child) {
        font-size: 1.1rem;
        margin-top: 2rem;
    }
}